<form [formGroup]="formShortener" (submit)="onSubmit()">
  <div class="row mb-3 justify-content-center">
    <div class="col-md-12">
      <label class="label mb-2 fs-5" for="url_input">
        <ng-icon name="heroLinkSolid"></ng-icon>&nbsp;Shorten a long URL</label>
      <input class="form-control text-center"
        [class.is-invalid]="this.formShortener.get('url_input')?.errors && this.formShortener.get('url_input')?.touched"
        type="text" formControlName="url_input" name="url_input" id="url_input" placeholder="Enter long link here">
      @if (this.formShortener.get('url_input')?.hasError("required")) {
      <div class="invalid-feedback">
        *Required
      </div>
      }
      @if (this.formShortener.get('url_input')?.hasError("pattern")) {
      <div class="invalid-feedback">
        *Enter a valid URL
      </div>
      }
    </div>
  </div>
  <div class="d-flex justify-content-center mb-3">
    <ngx-recaptcha2 [siteKey]="siteKey" [useGlobalDomain]="false" formControlName="recaptcha"></ngx-recaptcha2>
  </div>
  <div class="row justify-content-center">
    <div class="text-center">
      <button class="btn btn-dark text-light" [disabled]="this.formShortener.invalid" type="submit">Shorten URL</button>
    </div>
  </div>
</form>