spring:
  datasource:
    url: jdbc:mysql://${DB_HOST:localhost}:${DB_PORT:3306}/${DB_DATABASE:db_linkurto}?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: ${DB_USERNAME:admin}
    password: ${DB_PASSWORD:senha321}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    show-sql: true
    properties:
      hibernate:
        ddl-auto: none
  application:
    name: linkurto
springdoc:
  api-docs:
    path: /api-docs
google:
  recaptcha-v2:
    secret-key: ${RECAPTCHA_SECRET_KEY}
    url: https://www.google.com/recaptcha/api/siteverify
tasks:
  expired-urls-cleaning-interval-in-minutes: ${EXPIRED_URLS_CLEANING_INTERVAL_IN_MINUTES}
server:
  port: 8088
management:
  endpoints:
    web:
      exposure:
        include: info, metrics, health, prometheus
