<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <ng-icon name="heroLinkSolid"></ng-icon>
      <b>&nbsp;linkurto</b>
    </a>
    <div class="d-flex">
      <div class="">
        <a class="nav-link" aria-current="page" [href]="this.githubUrl">
          <ng-icon color="white" name="bootstrapGithub" size="26px"></ng-icon>
        </a>
      </div>
      &nbsp;&nbsp;
      <div class="">
        <a class="nav-link" aria-current="page" [href]="this.linkedinUrl">
          <ng-icon color="white" name="bootstrapLinkedin" size="26px"></ng-icon>
        </a>
      </div>
    </div>
  </div>
</nav>